{% extends "layouts/base.html" %}
{% load static %}
{%load bootstrap5%}
{% block content %}


<main class="container-fluid container-lg mt-3">
    <div class="d-flex gap-3 align-items-center mb-3">
        <h1>Войти</h1>

    </div>

    <form class="g-0 mb-3" method="post" action="{% url 'login' %}">
        {%bootstrap_form form%}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <div class="row ">
            <div class="col">
                <button class="btn btn-primary" type="submit">Войти</button>
            </div>
        </div>
        <div class="row ">
            <div class="d-flex gap-3 align-items-center col">
                <a href="{% url 'signup' %}">Создать новый аккаунт</a>
            </div>
        </div>
        {% csrf_token %}
    </form>


</main>

{% endblock %}