{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<html>

<head>
  <title>Centrifugo quick start</title>
</head>
<main class="container-fluid container-lg mt-3">
    <div class="d-flex gap-3 align-items-center">
        <h1>Questions</h1>
    </div>
    <div class="col-8 pb-5">

        {% include "components/question.html" with item=question %}

        <hr>


        {% for answer in answers %}
        {% include "components/answer.html" with item=answer %}
        {%endfor%}
        {% include "components/pagination.html" with page_obj=answers %}
        <form class="mb-3" role="search"  method="post" action="{% url 'question' question.id %}">
                    {% csrf_token %}

            <textarea
                    name = "content"
                    class="form-control me-2 mb-3"
                    type="search"
                    placeholder="Enter your answer here"
                    aria-label="Search"
                    rows="3"
            ></textarea>
            <button class="btn btn-outline-success" type="submit">Answer</button>
        </form>

    </div>

</main>
<script src="{%static '/js/main.js'%}"></script>
<script src="{%static '/js/correct_answer.js'%}"></script>
<body>
  <div id="counter">-</div>
  <script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
  <script type="text/javascript">
    const container = document.getElementById('counter');

    const centrifuge = new Centrifuge("{{centrifugo.ws_url}}", {
      token: "{{centrifugo.token}}"
    });

    centrifuge.on('connecting', function (ctx) {
      console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
    }).on('connected', function (ctx) {
      console.log(`connected over ${ctx.transport}`);
    }).on('disconnected', function (ctx) {
      console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
    }).connect();

    const sub = centrifuge.newSubscription("{{centrifugo.channel}}");

    sub.on('publication', function (ctx) {
      console.log(ctx);
    }).on('subscribing', function (ctx) {
      console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
    }).on('subscribed', function (ctx) {
      console.log('subscribed', ctx);
    }).on('unsubscribed', function (ctx) {
      console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
    }).subscribe();
  </script>
</body>

</html>

{% endblock %}
