{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<main class="container-fluid container-lg mt-3">
    <h1>{{ test.title }}</h1>
    <p>{{ test.description }}</p>
    <p>Время начала: {{ test.start_time }}</p>
    <p>Время окончания: {{ test.end_time }}</p>
    <p>Продолжительность: {{ test.duration_minutes }} minutes</p>
    <p>Количество попыток: {{ test.max_attempts }}</p>

    <form method="get" action="{% url 'test' test_id=test.id %}">
        <button class="btn btn-primary" type="submit">Начать</button>
    </form>
</main>
{% endblock %}
